.card-game{
  box-sizing: border-box;
  background-color:var(--color-alura);
  width: 140px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
  cursor: pointer;
}