.card-player{
  color: var(--color-white);
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card-divison-grid {
  display: grid;
  height: 30px;
  margin-left: 5px;
  grid-gap: 2px;
  grid-template-columns: 30px 30px 30px;
}
.card-divison-grid > .item {
  background-color: red;
  border: 1px solid var(--color-white)
}
